Hi this is something.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
data = pd.read_csv(r"D:\Documenten\TUdelft\thesis\mep_veldhuis\data\02 Handmatig geanalyseerd\3D2_New.csv")

In [11]:
print(data.head())
print(data.shape)

  Sample Name    Marker Allele 1 Allele 2  Allele 3  Allele 4  Allele 5  \
0       3D2.1      AMEL        X        Y       NaN       NaN       NaN
1       3D2.1   D3S1358       14       18      19.0       NaN       NaN
2       3D2.1   D1S1656       13       15      16.0      17.0       NaN
3       3D2.1    D2S441     11.3       13      14.0       NaN       NaN
4       3D2.1  D10S1248       13       14      15.0      16.0       NaN

   Allele 6  Allele 7  Allele 8  Height 1  Height 2  Height 3  Height 4  \
0       NaN       NaN       NaN      4731    4383.0       NaN       NaN
1       NaN       NaN       NaN      4132     720.0    3288.0       NaN
2       NaN       NaN       NaN      2488    3197.0     628.0     182.0
3       NaN       NaN       NaN      1797     562.0    1785.0       NaN
4       NaN       NaN       NaN       277    1982.0     692.0    1788.0

   Height 5  Height 6  Height 7  Height 8
0       NaN       NaN       NaN       NaN
1       NaN       NaN       NaN       NaN
2       NaN       NaN       NaN       NaN
3       NaN       NaN       NaN       NaN
4       NaN       NaN       NaN       NaN
(81, 18)